.brand-search {
  background: #F4F4F4;
  border-radius: 18px*2;
  height: 34px*2;
  line-height: 34px*2;
  padding-left: 17px*2;
  display: flex;
  color: #999999;
  align-items: center;
  font-size: 13px*2;
  letter-spacing: 0.33px*2;
  margin-top: 5px*2;
}

.overflow-hidden {
  overflow: hidden;
}

.brand-body {
  .van-popup {
    max-height: 85% !important;
  }
}

.brand-index,
.nclue,
.cab,
.nmock-body {

  .mo-dialog {
    width: 300px*2 !important;
    padding: 30px 5px 0 30px;
  }

  .mo-dialog-content::-webkit-scrollbar-thumb {
    border-radius: 10px*2 !important;
  }

  .mo-dialog-content::-webkit-scrollbar-track {
    border-radius: 10px*2 !important;
  }

  .mo-dialog-close-btn {
    background-color: #2877FF !important;
    margin-bottom: 40px !important;
    margin-left: 10px !important;
    margin-right: 35px !important;
    border-radius: 10px;
  }

  .mo-dialog-title {
    padding: 0 !important;
  }

  .mo-dialog-content {
    max-height: 400px*2 !important;
  }

  min-height: 100vh;
  background-color:#F4F4F4;

  .van-tab {
    span {
      font-weight: bold;
      font-size: 16px*2;
    }
  }

  .brand-mian-title {
    line-height: 22px*2;
    font-size: 16px*2;
    color: #333;
    letter-spacing: 0.36px*2;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #mo-bd-chart-1 {
    height: 300px;
    width: 100%;
  }
}

.brand-main-merge {
  display: flex;
  align-items: center;
  font-size: 16px*2;
  color: #333333;
  font-weight: bold;

  i {
    margin-left: 3px*3;
  }
}

.brand-main-time {
  margin-top: 25px*2;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .brand-main-details {
    height: 52px;
    margin-right: -30px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.27px;
    background-image: linear-gradient(90deg, #F2C374 0%, #EFAB3B 66%);
    box-shadow: 0 3px 6px 0 rgba(239,171,59,0.30);
    border-radius: 30px 0 0 30px;
    padding: 8px 16px 10px 28px;
  }

  .time {
    font-size: 14px*2;
    color: #333333;
  }
}

.bread-crumbs {
  font-size: 13px*2;
  color: #666666;
  padding: 15px*2 0 0 15px*2;
}

.brand-bg-blue {
  background: rgba(40, 119, 255, 0.85);
}

.brand-bg-green {
  background: rgba(5, 193, 144, 0.85);
}

.brand-bg-yellow {
  background: rgba(247, 188, 46, 0.85)
}

.brand-filter {
  padding: 0 30px 10px 30px;
  background-color: white;
}

.brand-date-select {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px*2;
  background: white;
  border-radius: 8px*2;
  font-size: 14px*2;
  margin-bottom: 15px*2;
  position: relative;
}

.cpl-select {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px*2;
  margin: 15px*2 0;

  .cpl-option {
    width: 53px*2;
    font-size: 13px*2;
    line-height: 26px*2;
    border-radius: 13px*2;
    background: white;
    color: #666666;
    text-align: center;
  }

  .cpl-option-action {
    background: #F4F4F4;
    color: #333333;
  }
}

.brand-level-charts-1 {
  width: 100% !important;
}

.brand-level-charts-0 {
  width: 315px*2 !important;
  height: 200px*2 !important;
}

.brand-level-charts-4 {
  width: 300px*2 !important;
  height: 200px*2 !important;
}

#mo-bd-chart-5 {
  width: 315px*2 !important;
  height: 200px*2 !important;
}

.triangle-up-body,
.triangle-down-body {
  background: #F8F8F8;
  border-radius: 4px*2 4px*2 0 0;
  height: 12px*2;
  width: 30px*2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 4px*2 26px*2;

  .triangle-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 4*2px solid #CECECE;
  }
}

.triangle-down-body {
  transform: rotate(180deg);
  margin: 4px*2 0 0 26px*2;
}

.arrows-action {
  background: rgba(40, 119, 255, 0.10);

  >div {
    border-bottom: 4*2px solid #0076FF !important;
  }
}

.brand-content {
  background: #F4F4F4;
  padding: 30px;

  .brand-board {
    align-items: center;
    text-align: center;
    display: flex;
    margin: 30px 20px 26px 20px;
    justify-content: space-between;

    .brand-board-dealer {}

    .brand-board-top {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #666666;
      margin-bottom: 20px;
    }

    .brand-board-clue {
      font-size: 48px;
      color: #333333;
      font-weight: 600;
      margin-bottom: 10px;

      span {
        font-size: 14px*2;
      }
    }

    .brand-board-bottom {
      font-size: 22px;
      color: #999999;

      span {
        color: #23AB61;
        margin-right: 4px;
      }
    }
  }

  .brand-content-notify {
    font-size: 11px*2;
    color: #2877FF;
    line-height: 16px*2;
    margin-top: 8px*2;
  }
}

.brand-board-classification {
  display: flex;
  background: #F4F4F4;
  width: 100%;
  height: 28px*2;
  position: relative;
  padding: 0 10px*2;
  margin-bottom: 30px;
}

.brand-board-angle {
  position: absolute;
  top: -20px*2;
  left: 80px;
  z-index: 2;
  border: 10px*2 solid #F4F4F4;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}

.classification-item {
  min-width: 50%;
  color: #666666;
  line-height: 28px*2;
  display: flex;
  align-items: center;

  >span {
    color: #333;
    font-weight: 500;
  }
}

.brand-board-point {
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.clue-state {
  display: flex;
  align-items: center;

  img {
    width: 36px;
    height: 35px;
    margin-right: 12px;
  }

  >div {
    font-weight: bold;
    font-size: 32px;
    line-height: normal;
  }

  .clue-state-end {
    margin-left: 6px*2;
  }
}

.brand-card {
  background: white;
  border-radius: 16px;
}

.popup-top {
  padding-top: 25px*2 !important;
}

.brand-top {
  padding: 30px;

  h2 {
    font-size: 20px;
    font-weight: bold;
  }
}

.barnd-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand-color-time {
  font-size: 13px*2 !important;
  color: #999999;
}

.chart-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 21px*2;
  color: #999999;
  margin-bottom: 20px*2;

  >div {
    font-size: 13px*2;
  }

  .chart-title-num {
    font-size: 15px*2;
    color: #333333;

  }
}

.popupShowContainer {

  //width: 100vh;
  position: relative;
  height: calc(100vh - 128px - 88px);
  padding: 40px;
  overflow: hidden;


  //日历控制
  .van-calendar__header-title {
    display: none;
  }

  .van-calendar__day--start{
    border-radius: 24px 0 0 24px;
  }
  .van-calendar__day--end {
    border-radius: 0 24px 24px 0;
  }

  .popupShowContainer-name {

    display: inline-flex;
    align-items: center;
    margin: 8px*2 0;

    >b {
      max-width: 200px*2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 48px;
      font-size: 34px;
      font-weight: bold;
      color: #333333;

    }

    .popupShowContainer-name-tap {
      font-size: 20px;
      line-height: 24px;
      padding: 4px;
      color: #2877FF;
      margin-left: 24px;
      background: #E1ECFF;
      border-radius: 4px;
    }
  }

  .popupShowContainer-address {
    font-size: 12px;
    color: #666666;
    line-height: 17px*2;
    margin: 8px*2 0;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .popupShowContainer-des {
    margin-bottom: 25px*2;
    line-height: 17px*2;
    color: #666666;

    span {
      color: #999;
    }
  }

  .popup-charts-1 {
    margin-bottom: 40px*2;
    width: 90vw;
  }

  .popup-charts-2 {
    height: 400px;
    width: 90vw;
  }

  .popup-brand-list {
    margin: 20px*3 0;
  }

  .popupShowContainer-clone {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #f2f2f2;
    color: #888888;
    font-size: 16px*2;
  }
}

//弹窗
.dislog-class {
  .van-dialog__header {
    font-size: 16px*2;
  }

  .van-dialog__message {
    text-align: left;
  }
}

.color-gray {
  color: #ccc !important
}

.color-gray1 {
  color: #ccc !important
}

.brand-card {
  #mo-bd-chart-5 {
    div {
      z-index: 10 !important;
    }
  }
}

.brand-diagnose {
  margin-top: 30px;
  padding: 30px;
  padding-top: 34px;

  .brand-diagnose-title {
    margin-bottom: 10px*2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >span {
      font-size: 13px*2;
      line-height: 13px*2;
      color: #999999;
      display: flex;
      align-items: center;
    }

    .text-h3 {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 32px;
        color: #333;
        font-weight: bolder;
        margin-right: 5px*2;
      }

      align-items: center;
    }

  }

  .brand-diagnose-total {
    font-size: 14px*2;
    color: #333333;
    font-weight: 500;
    width: 156px*2;
    line-height: 32px*2;
    border-radius: 0 16.5px*2 16.5px*2 0;
    background-image: linear-gradient(270deg, #F5F5F5 23%, #FFFFFF 100%);

    span {
      color: #666666;
      margin-right: 6px*2;
      font-size: 12px*2;
    }
  }

  .brand-diagnose-options {
    margin: 5px*2 150px 15px*2;
    display: flex;
    color: #666666;

    .brand-diagnose-options-item {
      padding: 12px 24px;
      font-size: 28px;
    }
  }

  .brand-diagnose-options-action {
    background: #F4F4F4;
    border-radius: 28px;
    color: #333333;
  }

  .brand-diagnose-card {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    color: white;
    text-align: center;

    >div {
      border-radius: 14px;
      width: 190px;
      height: 300px;
      background: blue;
    }

    .brand-diagnose-card-title {
      font-size: 26px;
      line-height: 32px;
      margin-top: 24px;
      font-weight: bold;
    }

    .brand-diagnose-card-num {
      font-size: 48px;
      line-height: 74px;
      font-weight: bold;
    }

    .brand-diagnose-card-des {
      font-size: 20px;
      line-height: 28px;

    }

    .brand-diagnose-card-insufficient {
      background: #FD8B8B;
    }

    .brand-diagnose-card-well {
      background: #8998F9;
    }

    .brand-diagnose-card-full {
      background: #59DCB9;
    }

    .brand-diagnose-card-action {

      .brand-diagnose-card-num {
        font-size: 56px;
      }

      transform: scale(1.1);
      transition: all 0.2s ease-out;
    }

    .brand-diagnose-card-chart {
      margin-top: 20px;
      width: 100%;
      height: 100px;
    }
  }
}

.series-brand-card {
  margin-top: 0 !important;
}

.custom-index-bar {
  width: 100%;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;

  .van-cell {
    padding: 15px*2 20px*2;
  }

  .van-index-bar__sidebar {
    right: 20px;
  }
}

.clue-state-text {
  font-size: 16px*2;
  line-height: 22px*2;
  color: #333;
  font-weight: bold;
}

.custom-index-bar-close {
  position: fixed;
  top: 30px;
  right: 40px;
  background: #ccc;
  font-size: 20px*2;
  width: 20px*2;
  text-align: center;
  border-radius: 50%;
  z-index: 500;
}

.dealer-length-class {
  font-size: 12px*2;
  line-height: 13px*2;
  color: #999999;
  margin-left: 5px*2;
  letter-spacing: 0.29px*2;

  .dealer-length-class-span {
    font-size: 13px*2;
    color: #151515;
  }
}

.brand-dislog {
  margin-left: 4px*2;
  margin-right: 15px;
  padding-right: 8px*2;

  h3 {
    font-weight: bold;
    font-size: 16px*2;
    color: #222222;
    margin-bottom: 10px*2;
  }

  p {
    margin-bottom: 30px;

    b {
      line-height: 24px*2;
      font-size: 14px*2;
      color: #333;
      font-weight: bold;
    }

    line-height: 30px*2;
    font-size: 14px*2;
    color: #333;
  }
}

// 二期样式

$funnel-width:65px*2;

.funnel {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  .funnel-title {
    font-size: 12px*2;
    color: #2877FF;
    display: flex;
    justify-content: flex-end;

    >div {
      width: $funnel-width;
      text-align: center;
      line-height: 17px*2;
    }
  }

  .funnel-list {
    background: #DBE7FF;
    color: #2877FF;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    width: 315px*2;

    >div {
      width: $funnel-width;
      line-height: 28px*2;
    }

    .funnel-list-title {
      font-size: 9px*2;
      line-height: 32px*2;
      width: 100px*2;
      text-align: left;
      margin-left: 20px*2;
      white-space: nowrap;
    }
  }

  .funnel-list-1 {
    width: 304px*2;

    .funnel-list-title {
      width: 105px*2;
      text-align: left;
      margin-left: 2px*2;
    }
  }

  .funnel-list-2 {
    width: 295px*2;

    .funnel-list-title {
      width: 84px*2;
      text-align: left;
      margin-left: 10px*2;
    }
  }

  .funnel-list-3 {
    width: 285px*2;

    .funnel-list-title {
      width: 84px*2;
      text-align: left;
      margin-left: 2px*2;
    }
  }

  .funnel-percentage {
    height: 30px*2;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    align-items: center;
    font-size: 10px*2;
    position: relative;
    color: #666666;
    width: 100%;

    >div {
      width: $funnel-width;
      line-height: 22px*2;
    }

    .conversion {
      z-index: 1;
      position: absolute;
      width: 100px*2;
      border: 0px;
      border-top: 30px*2 solid #85ADFF;
      border-right: 22px solid transparent;
      border-left: 22px solid transparent;
      left: 0;
    }

    .conversion-text {
      z-index: 10;
      font-size: 9px*2;
      line-height: 30px*2;
      color: white;
      position: absolute;
      width: 100px*2;
      left: 0px;
      top: 0px;
    }
  }

  .funnel-percentage-1 {
    width: 305px*2;

    .conversion {
      width: 80px*2;
    }

    .conversion-text {
      width: 80px*2;
    }
  }

  .funnel-percentage-2 {
    width: 295px*2;

    .conversion {
      width: 60px*2;
    }

    .conversion-text {
      width: 60px*2;
    }
  }

  .funnel-percentage-3 {
    width: 285px*2;

    .conversion {
      width: 40px*2;
    }

    .conversion-text {
      width: 40px*2;
    }
  }
}

//遮罩层
.conversion-mask {
  background: rgba(0, 0, 0, 0.40);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;

  .conversion-mask-body {
    top: 150px*2;
    background: white;
    border-radius: 8px*2;
    position: absolute;
    width: 345px*2;
    padding: 15px*2;
    margin: auto;
    left: 0;
    right: 0;
    min-height: 260px*2;
  }

  .brand-diagnose {
    padding-top: 0;
    margin-top: 24px;
  }

  .conversion-mask-body-close {
    position: absolute;
    top: 450px*2;
    margin: auto;
    left: 0;
    right: 0;
    width: 30px*2;
  }

  .conversion-mask-body-close-index {
    top: 500px*2;
  }
}

.article-statistics {

  .article-statistics-list {
    padding: 8px*2 15px*2;
    width: 100%;
    height: 72px*2;
    background: #F8F8F8;
    border-radius: 4px*2;
    border-left: 2px*2 solid #2877FF;
    margin-bottom: 10px*2;

    .article-title {
      font-size: 13px*2;
      color: #333333;
      line-height: 18px*2;
    }

    .article-num {
      margin-top: 2px*2;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      >div {
        font-size: 16px*2;
        color: #333333;
        font-weight: 500;
        line-height: 22px*2;
      }
    }

    .article-item {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      >div {
        font-size: 11px*2;
        color: #666666;
        line-height: 16px*2;
      }
    }
  }

  .article-statistics-list:last-child {
    margin-bottom: 0;
  }
}

.custom-calendar-header {
  display: flex;
  width: 100%;

  .header-item {
    line-height: 48px*2;
    font-size: 16px*2;
    width: 33.33%;
    margin: 0 20px;
    text-align: center;
    color: #333333;
    border-bottom: 3px*2 solid transparent;
  }

  .header-item-action {
    font-weight: 600;
    border-bottom: 3px*2 solid #2877FF;
    color: #2877FF;
  }
}

#mo-bd-chart-5 {
  height: 300px;
  width: 100%;
}

.series-chart-0 {
  height: 300px !important;
  width: 100% !important;
}

.series-chart-1 {
  height: 400px !important;
  width: 100% !important;
}

.information {
  border: 1px transparent solid;

  .information-card {
    margin: 15px*2;
    background: white;
    padding: 15px*2;
    border-radius: 8px*2;

    .information-title {
      font-size: 16px*2;
      line-height: 16px*2;
      margin-bottom: 15px*2;
      font-size: 16px*2;
      color: #333333;
      font-weight: 600;
      display: flex;
      justify-content: space-between;

      >span {
        font-size: 13px*2;
        color: #666666;
        display: flex;
        align-items: center;
      }
    }

    .information-imglist {
      display: flex;
      flex-wrap: wrap;

      .list-item {
        margin-right: 22px*2;
        margin-bottom: 25px*2;

        img {
          width: 45px*2;
          height: 45px*2;
          border-radius: 50%;
          margin-bottom: 8px*2;
        }

        p {
          width: 100%;
          text-align: center;
        }
      }

      .list-item:nth-child(5n) {
        margin-right: 0;
      }
    }

    .information-count {
      background: #F0F5FF;
      border-radius: 8px*2 8px*2 8px*2 0;
      padding: 0 10px*2;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px*2;
      color: #333333;
      margin-bottom: 20px*2;

      span {
        font-size: 20px*2;
        color: #2877FF;
        font-weight: 500;
        margin: 0 2px*2;
      }

      img {
        width: 60px*2;
      }
    }

    .information-last-version {
      font-size: 13px*2;
      color: #333333;
      margin-bottom: 12px*2;
    }

    .information-last-time {
      font-size: 12px*2;
      color: #666666;
      margin-bottom: 8px*2;
      width: 100%;
      overflow: hidden;
      line-height: 18px*2;
      text-overflow: ellipsis; //文本溢出显示省略号
      white-space: nowrap; //文本不会换行
    }
  }

  .information-content {
    line-height: 20px*2;
    margin-top: 10px*2;
  }
}

.brand-filter-tab {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 44px*2;

  .filter-tab-item {
    line-height: 44px*2;
    width: 87px*2;

    text-align: center;
    font-size: 16px*2;
    color: #333333;
  }

  .filter-tab-item-action {
    border-bottom: 3px*2 solid #2877FF;
    color: #2877FF
  }
}

.select-page {
  .brand-diagnose:first-child {
    margin-top: 0 !important;
  }
}

.tabs-hidden {
  overflow: hidden;
  height: 0;
  padding: 0 !important;
  margin: 0 !important;
}

.slide-list-body {
  border-radius: 6px*2;
  box-shadow: 0 2*2px 4px*2 0 rgba(0, 0, 0, 0.05), 0 2px*2 8px*2 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  background: white;
  padding: 0 15px*2;

  .slide-list-item {
    height: 45px*2;
    line-height: 45px*2;
    text-align: center;
    font-size: 15px*2;
    color: #333333;
  }

  .slide-list-item-action {
    color: #2877FF
  }

}

.calendar-body {
  display: flex;
  align-items: center;
  font-size: 14px*2;
  color: #333333;
}

.colorRow {
  .body-row {

    .body-item {
      &:first-child {
        font-size: 28px;
        font-weight: bold;
        font-style: italic;
        color: #999999 !important;
        text-align: left;
        padding-left: 9px;
      }
    }

    &:nth-child(1) {
      background-image: linear-gradient(180deg, #fff4f4 0%, #ffffff 100%);
      border-radius: 8px 8px 0 0;

      .body-item {
        &:first-child {
          color: #ff7878 !important;
        }
      }
    }

    &:nth-child(2) {
      background-image: linear-gradient(180deg, #fff6eb 0%, #ffffff 100%);
      border-radius: 16px 16px 0 0;

      .body-item {
        &:first-child {
          color: #ff9647 !important;
        }
      }
    }

    &:nth-child(3) {
      background-image: linear-gradient(180deg, #fffced 0%, #ffffff 100%);
      border-radius: 16px 16px 0 0;

      .body-item {
        &:first-child {
          color: #fcc622 !important;
        }
      }
    }
  }

}