.cab{
  .cab-top{
    z-index: 30;
     width: 100%;
    position: fixed;
    top:40px*2;
    left: 0;
    background: #fff;
    padding-bottom: 10px;
    .cab-body-tabs{
      height: 44px*2;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .tabs-item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 25px;
        .tabs-item-text{
          text-align: center;
          font-size: 15px*2;
          line-height:44px*2 ;
          color: #333333;
          // padding-bottom: 9px*2;
        }
        .tabs-item-line{
          background: #2877FF;
          border-radius: 2px*2;
          border-radius: 2px*2;
          width: 20px*2;
          height: 4px*2;
        }
      }
      .tabs-item:nth-child(1){
        margin-left: 25px*2;
      }
      .tabs-item-action{
        width:80px;
        .tabs-item-text{
          font-size: 20px*2;
          font-weight: bold;
          white-space:nowrap;
        }
      }
    }

  }
  .cab-timeCurrent{
    font-size: 13px*2;
    color: #999999;
    letter-spacing: 0.29px*2;
    line-height: 14px*2;
  }
.cab-content,.cab-cabbusiness-content{
  background:#F4F4F4;
  .dealers-top-tooltip{
    padding: 0 12px*2;
    margin-top: 20px*2;
    .tooltip-item{
      min-width: 31%;
      min-height: 166px;
      .item-title{
        justify-content: flex-start;
        font-size: 11px*2;
        color: #666666;
        letter-spacing: 0.24px*2;
        .item-vertical{
          width: 7px*2;
          height: 7px*2;
          border-radius:50%;
          background: #3E73F9;
          margin-right: 5px*2;
        }
      }
      .item-num{
        text-align: left;
        margin: 8px*2 0;
        font-weight: bold;
        font-size: 20px*2;
        color: #333333;
        span{
          font-size: 10px*2;
          margin-left: 2px*2;
        }
      }
      .item-sequential ,.item-accounted{
        justify-content: flex-start;
        padding-top: 2.5px*2;
        span{
          font-size: 10px*2;
          color:#666;
          margin-right: 4px;
        }
        >div{
          font-size: 10px*2;
        }
      }
      .item-accounted{
        margin-top: 5px*2;
      }
      .custom-icon{
        width: 6px*2;
        height: 7px*2;
        margin-left: 5px*2;
      }
    }
    .tooltip-item:nth-child(1){
      width: 38%;
      background: url('../img/cab/divider.png') no-repeat 160px 0;
      background-size:12px 166px;
    }
  }
  .select-body{
    justify-content:flex-start;
    > div{
      line-height: 18px*2;
      font-size: 13px*2;
      border-radius: 13px*2;
      color: #666666;
      padding: 4px*2 8px*2;
      letter-spacing: 0.29px*2;
      background: white;
    }
    .select-action{
      border-radius: 14.5px*2;
      line-height: 20px*2;
      background-image: linear-gradient(90deg, #59A4FF 1%, #3E73F9 100%);
      color: #fff;
      box-shadow: 0 2px 10px 0 rgba(62,115,249,0.42);
      font-size: 14px*2;
      letter-spacing: 0.31px*2;
    }
  }
  #mo-bd-chart-flowTop,#mo-bd-chart-dealersLine,#mo-bd-chart-dealersOrder,#mo-bd-chart-ditchAnalyse{
    width: 100%;
    height: 220px*2;
  }
  .subscript-text{
    width: 100%;
    margin-top: 10px*2;
    text-align: right;
    font-size: 12px*2;
    color: #999999;
    letter-spacing: 0.27px*2;
  }
}
.dealers-StanceOperator{
  width: 100%;
  height: 40*2px;
}
.page-middle{
  padding:15px*2;
  padding-top: 20px*2;
  position: relative;
  margin: 0;
  background:#f4f4f4;
  background-size: 100%;
  .dateQuickly{
    justify-content: flex-start;
    margin-bottom: 15px*2;
    .dateQuickly-item{
      font-size: 14px*2;
      height: 32px*2;
      line-height: 32px*2;
      color: #333333;
      letter-spacing: 0.31px*2;
      text-align: center;
      background: #FFFFFF;
      box-shadow: 0 2*2px 4*2px 0 rgba(0,0,0,0.05);
      border-radius: 16px*2;
      padding: 0 15px*2;
      margin-right:8px*2;
    }
    .dateQuickly-item:last-child{
      margin-right: 0;
    }
    .dateQuickly-item-action{
      background-image: linear-gradient(90deg, #4599FF 0%, #2877FF 66%);
      box-shadow: 0 3px*2 6px*2 0 rgba(40,119,255,0.30);
      color: white;
    }
  }
  .card-subtitle{
    .card-subtitle-title{
      color: #666666;
    }
    .card-subtitle-num{
      font-size: 14px*2;
      color: #333333;
      font-weight: bold;
      margin-left: 5px*2;
    }
  }
}
//业务模块(业务模块继承流量以下为差异部分)
.cab-cabbusiness-content{
  .tooltip-item:nth-child(1){
    background: none !important;
  }
  .dealers-top-tooltip{
    justify-content: space-around;
  }
  .content-body{
    margin-top: 30px;
    width: 100%;
    overflow: hidden;
    height: 350px*2;
    position: relative;
  }
  .see-trends{
    justify-content: center;
    position: relative;
    margin: 20px*2 0;
    .see-trends-btn{
      position: absolute;
      right: -30px;
      top: -16px;
      background-image: linear-gradient(90deg, #F2C374 0%, #EFAB3B 66%);
      box-shadow: 0 3px 6px 0 rgba(239,171,59,0.30);
      border-radius: 15px*2 0 0 15px*2;
      font-size: 12px*2;
      color: #FFFFFF;
      padding: 0 3px*2 0 14px*2;
      line-height: 26px*2;
      height: 26px*2;
    }
    .trendsList-item{
      border-radius: 50%;
      margin:0 5px*2;
      width: 7px*2;
      height: 7px*2;
      display: inline-block;
    }
  }
  .cab-trends{
    background:#f5f5f5;
    .cab-trend-bar{
      background: white;
      position: relative;
      text-align: center;
      color: #333333;
      font-size: 15px*2;
      height: 44px*2;
      line-height: 44px*2;
      .cab-trend-close{
        position: absolute;
        top:12px*2;
        left: 20px;
      }

    }
    .content-type-list{
      background: #fff;
      flex-wrap: wrap;
      justify-content: flex-start;
      padding:15px*2;
      .type-list-item{
        border-radius: 16px*2;
        background: #F4F4F4;
        padding: 6px*2 16px*2;
        margin-right: 8px*2;
        font-size: 13px*2;
        line-height: 18px*2;
        margin-bottom: 12px*2;
      }
      .type-list-item-action{
        background-image: linear-gradient(90deg, #4599FF 0%, #2877FF 66%);
        box-shadow: 0 3px*2 6px*2 0 rgba(40,119,255,0.30);
        color:white;
      }
    }
    .cab-trends-content{
      margin: 15px*2 0;
      padding: 0 15px*2;
      background: #f5f5f5;
    }
  }
  #mo-bd-chart-contentLeft,#mo-bd-chart-contentRight{
    top: 0;
    position: absolute !important;

    height: 350px*2;
  }
  #mo-bd-chart-contentLeft{
    width: 60%;
    left: 0px;
  }
  #mo-bd-chart-contentRight{
    width: 40%;
    right: 20px;
  }
  #mo-bd-chart-dealersOrder,#mo-bd-chart-ditchAnalyse,#mo-bd-chart-trends{
    height:250px*2;
  }
  #mo-bd-chart-trends{
    width: 320px*2;
  }
}
}

.cab-top-list {
  display: flex;
  padding: 40px 0;
  margin: 0 auto;
  &.cab-top-two {
    width: 80%;
    justify-content: space-between;
    .cab-top-li {
      &:first-child {
        margin-left: 16%;
      }
    }
  }
  &.cab-top-three {
    //width: 90%;
    .cab-top-li {
      &:first-child {
        margin-left: 10%;
      }
    }
  }
}

.cab-top-li {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cab-top-li-name {
  display: flex;
  align-items: center;
  color: #888;
  font-size: 24px;
}

.cab-top-li-leg {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #FF3A3A;
  margin-right: 8px;
}

.cab-top-li-value {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  font-weight: bold;
  padding: 15px 0;
}

.cab-top-li-unit {
  margin-left: 8px;
  font-size: 24px;
}

.cab-top-li-ratio {
  display: flex;
  align-items: center;
}

.cab-top-li-text {
  font-size: 20px;
  color: #666;
  margin-right: 4px;
}

.cab-top-li-rate {
  display: flex;
  align-items: center;
  color: #666;
  font-size: 20px;
  margin-top: 15px;
}









.cab-chart-wrap {
  width: 100%;
  height: 440px
}



















