.bt-inner{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-flex;
    white-space: nowrap;
    padding: 0 30px;
}
.clue-date{
    @extend .content-center;
    width: 100%;
    padding: 0 30px;
    //box-shadow: 0 10px 10px #ddd;
}
.clue-date-prev,
.clue-date-next{
    width: 60px;
    border: 12px solid transparent;
}
.clue-date-prev{
    border-right: 17px solid #C2CEFF;
    &.clue-date-disabled{
        border-right: 17px solid #D8D8D8;
    }
}
.clue-date-next{
    border-left: 17px solid #C2CEFF;
    &.clue-date-disabled{
        border-left: 17px solid #D8D8D8;
    }
}
//.clue-date-prev{
//    background: url(./../../assets/img/icon/clue-icon-left.png) no-repeat center;
//    background-size: 40%;
//}
//.clue-date-next{
//    background: url(./../../assets/img/icon/clue-icon-right.png) no-repeat center;
//    background-size: 40%;
//}
.clue-date-select{
    @extend .content-center;
    //width: 100%;
    height: 70px;
    font-size: 28px;
    color: #262D39;
    margin: 0 18px;
}
.clue-date-icon{
    margin-left: 10px;
    margin-bottom: -3px;
    border: 8px solid transparent;
    border-top: 9px solid #666;
}
.clue-switch{
    display: block;
    width: 70px;
    height: 70px;
    //line-height: 70px;
    position: absolute;
    top: 0;
    right: 20px;
    background: url(./../../assets/img/icon/clue-icon-switch.png) no-repeat center;
    background-size: 80%;
}
.head-calendar-wrap {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.head-calendar-cancel {
    color: #666;
    padding: 20px 30px;
}
.head-calendar-confirm {
    color: #3293FF;
    padding: 20px 30px;
}
.head-calendar-handle {
    @extend .content-center;
    //display: flex;
    //align-items: center;
    padding-top: 20px;
}
.head-calendar-hd{
    padding: 20px 30px;
    border: 1px solid #E5E5E5; /* no */
    border-radius: 8px;
    margin-left: 20px;
    &:first-child {
        margin-left: 0;
    }
}

.clue-b1{
    @extend .content-center;
    overflow: hidden;
    border-radius: 8px;
    //justify-content: space-between;
    //background-color: transparent;
}
.clue-b1-inner{
    flex: 1;
    width: 230px;
    //height: 200px;
    //background-color: #131627;
    padding: 30px 10px;
    &:nth-child(2) {
        position: relative;
        &:before,
        &:after {
            content: '';
            height: 100px;
            position: absolute;
            top: 40px;
        }
        &:before {
            left: 0;
        }
        &:after {
            right: 0;
        }
    }
}
.clue-b1l-title{
    font-size: 24px;
    text-align: center;
}
.clue-b1l-num{
    padding: 30px 0;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.clue-b1l-unit{
    font-size: 24px;
}
.clue-b1l-state{
    @extend .content-center;
    font-size: 24px;
}
.clue-b1-ls-ring,
.clue-b1-ls-from{
    //width: 50%;
    @extend .content-center;
}
.clue-b1-ls-from{
    justify-content: flex-end;
}
.clue-b1l-ratio{
    font-size: 24px;
    letter-spacing: -0.24px; /* no */
}
.clue-b1l-ratio-up{
    color: #D0021B;
}
.clue-b1l-ratio-down{
    color: #7ED321;
}
.clue-b6{
    @extend .content-center;
    justify-content: space-between;
    //height: 160px;
    //background-color: #131627;
    border-radius: 8px;
    padding: 30px 10px;
}
.clue-b1-pie{
    width: 140px;
    height: 140px;
}
.clue-list{
    @extend .clue-body-bg;
    padding: 0 30px;
    .clue-list-err{
        padding: 150px 20px;
    }
}
.clue-list-outer{
    border-radius: 8px;
    //padding: 0 0 30px;
    margin-bottom: 20px;
    .clue-list-err{
        padding: 50px 20px;
    }
}
.clue-bt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0 0 24px;
    height: 80px;
    line-height: 82px;
    position: relative;
    &:after{
        content: '';
        display: block;
        width: 8px;
        height: 32px;
        background-image: linear-gradient(180deg, #FF7659 0%, #FFD461 100%);
        border-radius: 4px;
        position: absolute;
        left: 0;
        top: 37px;
    }
}
.clue-bt-text{
    display: flex;
    align-items: center;
    height: 100%;
    color: #262D39;
    font-size: 32px;
    //font-weight: 600;
    &.clue-bt-text-right {
        flex: 1;
        justify-content: space-between;
    }
}
.clue-part-type{
    @extend .content-center;
    //height: 40px;
    background-color: #EBF5FE;
    border-radius: 8px;
    overflow: hidden;
}
.clue-part-type-item{
    height: 50px;
    line-height: 53px;
    padding: 0 24px;
    font-size: 20px;
    color: #fff;
    background-color: #C2CEFF;
    border-right: 2px solid #fff; /* no */
    &:last-child{
        border-right: none;
    }
    &.clue-part-type-active{
        background-color: #2F54EB;
    }
}
.clue-bt-right-wrap {
    display: flex;
    align-items: center;
    height: 50px;
    color: #333;
    margin-left: 20px;
    &.clue-bt-middle-wrap {
        padding-right: 40px;
    }
}
.clue-bt-rd-icon {
    //width: 50px;
    //height: 40px;
    //border-radius: 5px;
    border: 10px solid transparent;
    border-top: 10px solid #333;
    margin-bottom: -5px;
    margin-left: 10px;
}
.clue-bt-blank {
    .clue-part-type {
        border: 1px solid #696C75; /* no */
    }
    .clue-part-type-item {
        color: #333;
        background-color: #fff;
        border-right: none;
    }
    .clue-part-type-active {
        background-color: #696C75;
        color: #fff;
    }
}
.clue-list-err{
    font-size: 32px;
    //padding: 0 20px;
    line-height: 62px;
    color: #D0021B;
    text-align: center;
}
.clue-b2-line{
    height: 550px;
}
.clue-b3-bar{
    height: 960px;
}
.clue-b4-pie{
    height: 650px;
}
.clue-b5-pie{
    height: 500px;
}
.clue-b5-line{
    //width: 100%;
    height: 450px;
}
.clue-b6-bar{
    height: 200px;
}
.clue-date-content{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1111;
    //background-color: #0C1238;
}
.clue-b5 {
    padding-bottom: 20px;
}

.clue-dark{
    background-color: #090C15;
    color: #fff;
    .clue-date{
        background-color: #0C121E;
    }
    .clue-body{
        color: #fff;
    }
    .clue-b1-inner{
        background-color: #131627;
        &:nth-child(2) {
            &:before,
            &:after {
                border-left: 1px solid #1A1C31; /* no */
            }
        }
    }
    .clue-b1l-num{
        padding: 15px 0;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .clue-b1l-unit{
        color: #fff;
    }
    .clue-b1-ls-from{
        justify-content: flex-end;
    }
    .clue-b1l-ratio{
        font-size: 24px;
        letter-spacing: -0.24px; /* no */
    }
    .clue-b1l-ratio-up{
        color: #D0021B;
    }
    .clue-b1l-ratio-down{
        color: #7ED321;
    }
    .clue-b6{
        @extend .content-center;
        justify-content: space-between;
        //height: 160px;
        background-color: #131627;
        //border-radius: 8px;
        //padding: 0 10px;
    }
    .clue-list{
        background-color: #131627;
    }
    .clue-list-outer{
        background-color: #131627;
    }
    .clue-date-content{
        background-color: #0C1238;
    }
}



/* ni light */
.clue-light{
    background-color: #F1F2F6;
    .clue-list{
        background-color: #fff;
    }
    .clue-b1-inner{
        background-color: #fff;
        &:nth-child(2) {
            &:before,
            &:after {
                border-left: 1px solid #F2F3F7; /* no */
            }
        }
    }
    .clue-b1l-num{
        padding: 15px 0;
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .clue-b1l-unit{
        color: #333;
    }
    .clue-b1-ls-from{
        justify-content: flex-end;
    }
    .clue-b1l-ratio{
        font-size: 24px;
        letter-spacing: -0.24px; /* no */
    }
    .clue-b1l-ratio-up{
        color: #D0021B;
    }
    .clue-b1l-ratio-down{
        color: #7ED321;
    }
    .clue-b6{
        @extend .content-center;
        justify-content: space-between;
        //height: 160px;
        background-color: #fff;
        //border-radius: 8px;
        //padding: 0 10px;
    }
    .clue-list-outer{
        background-color: #fff;
    }
    .clue-date-content{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1111;
        background-color: #0C1238;
    }


}

.clue-list-tabs{
    height: 71px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    //background-color: #f5f5f5;
    //background-color: #ccc;
    position: relative;
    //box-shadow: 0 0 10px #ddd inset;
    border-bottom: 1px solid #F2F3F7; /* no */
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}
.clue-list-tabs-inner{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-flex;
    white-space: nowrap;
    padding: 0 20px;
}
.clue-list-tabs-item{
    //color: $fontColor;
    color: #AFB8BB;
    height: 70px;
    line-height: 72px;
    margin-left: 20px;
    font-size: 24px;
    &:first-child{
        margin-left: 0;
    }
    &.clue-list-tabs-active{
        color: $fontColorActive;
        font-size: 28px;
        position: relative;
        &:after{
            content: '';
            width: 100%;
            height: 2px; /* no */
            background-color: $fontColorActive;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}

.clue-b1-bar{
    height: 550px;
}

/* UI 改版 */
.clue-list-total{
    @extend .content-center;
    padding: 20px;
}
.clue-total-data{
    flex: 0 0 220px;
    padding-right: 20px;
}
.clue-b1-line{
    flex: 1;
    height: 150px;
}
.clue-total-num{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 72px;
    color: #131825;
    margin-bottom: 30px;
}
.clue-total-unit{
    font-size: 24px;
}
.clue-total-ring{
    @extend .content-center;
    color: #8D8E93;
}
.clue-total-ratio{
    position: relative;
    &:after{
        content: '';
        display: block;
        width: 1px; /* no */
        border: 5px solid transparent; /* no */
        border-bottom: 8px solid #F75959; /* no */
        position: absolute;
        top: -1px; /* no */
        right: -25px;
    }
    &.clue-total-ratio-down{
        &:after{
            border: 5px solid transparent; /* no */
            border-top: 8px solid #6CAD25; /* no */
            top: 2px; /* no */
        }
    }
}

.clue-part-outer{
    height: 140px;
    width: 100%;
    max-width: 750px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-bottom: 1px solid #F2F3F7; /* no */
    position: relative;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        display: none;
    }
}
.clue-part-inner{
    position: absolute;
    left: 0;
    top: 0;
    display: inline-flex;
    white-space: nowrap;
    padding: 20px 30px 10px;
}
.clue-part-item{
    width: 130px;
    //color: $fontColor;
    color: #AFB8BB;
    height: 100px;
    line-height: 72px;
    margin-left: 26px;
    font-size: 24px;
    padding: 0 12px;
    //text-align: center;
    &:first-child{
        margin-left: 0;
    }
    &.clue-part-item-active{
        position: relative;
        &:after{
            content: '';
            width: 100%;
            height: 2px; /* no */
            background-color: $fontColorActive;
            position: absolute;
            left: 0;
            bottom: -18px;
        }
        .clue-part-title{
            color: #454458;
        }
        .clue-part-num{
            color: #454458;
        }
        .clue-part-ratio{
            opacity: 1;
        }
    }
}
.clue-part-title{
    color: #8D8E93;
    font-size: 24px;
    font-weight: 600;
}
.clue-part-num{
    font-size: 20px;
    color: #8D8E93;
    margin: 18px 0;
}
.clue-part-ratio{
    opacity: 0.5;
    font-size: 20px;
    color: #F75959;
    &.clue-part-ratio-down{
        color: #6CAD25;
    }
}

.clue-b7{
    display: flex;
    //background-image: linear-gradient(133deg, #4671FB 0%, #2F54EB 100%);
    background-size: 100%;
    color: #fff;
    padding: 28px 36px 0;
}
.clue-b7-title{
    font-size: 24px;
    //padding-top: 34px;
}
.clue-b7-total{
    display: flex;
    //justify-content: center;
    align-items: flex-end;
    font-weight: 600;
    text-align: center;
}
.clue-b7-all{
    flex: 0 0 230px;
    //width: 360px;
    //display: flex;
    //justify-content: center;
    //flex-direction: column;
    position: relative;
    &:after{
        content: '';
        height: 60px;
        border-left: 1px solid #F1F1F1; /* no */
        position: absolute;
        top: 50%;
        right: 0;
        margin-top: -40px;
    }
    .clue-b7-title{
    }
    .clue-b7-total{
        font-size: 72px;
        margin: 40px 0 30px;
    }
    .clue-b7-ratio:after{
        right: 40%;
    }
}
.clue-b7-part{
    width: 100%;
    padding-left: 70px;
    .clue-b7-total{
        font-size: 52px;
        margin: 16px 0 24px;
    }
}
.clue-b7-part-li{
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    &:last-child{
        padding-bottom: 0;
    }
}
.clue-b7-part-left{
    flex: 1;
}
.clue-b7-part-right{
    flex: 0 0 160px;
    padding-left: 15px;
}
.clue-b7-ratio{
    position: relative;
    &:after{
        content: '';
        display: block;
        width: 1px; /* no */
        border: 5px solid transparent; /* no */
        border-bottom: 8px solid #F75959; /* no */
        position: absolute;
        top: -3px;
        right: 5px;
    }
    &.clue-b7-ratio-down{
        &:after{
            border: 5px solid transparent; /* no */
            border-top: 8px solid #6CAD25; /* no */
            top: 3px;
        }
    }
}

/* flow改版 */
.flow-tabs-head{
    @extend .content-center;
    border-radius: 16px;
    //border-top-left-radius: 16px;
    //border-top-right-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;
}
.flow-tabs-item{
    flex: 1;
    height: 80px;
    line-height: 82px;
    text-align: center;
    font-size: 32px;
    color: #666;
    &.flow-tabs-item-active{
        color: #262D39;
        font-weight: 600;
        background-color: #fff;
    }
}

.clue-body-top {
    height: 310px;
    margin: 0 -30px 108px;
    padding: 0 30px;
    background-image: linear-gradient(180deg, #FF7C60 0%, #FFAF50 100%);
    position: relative;
}
.clue-bt-wrap {
    width: calc(100% - 60px);
    height: 148px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    position: absolute;
    bottom: 0;
    margin-bottom: -74px;
}
.clue-bt-inner {
    @extend .content-center;
    padding-top: 34px;
}
.clue-bt-left {
    padding-top:20px;
    flex: 1;
    color: #fff;
}
.clue-bt-right {
    flex: 0 0 458px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clue-head-chart {
    width: 100%;
    height: 150px;
}
.clue-bt-right-date {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.clue-bt-rd-start,
.clue-bt-rd-end {
    font-size: 20px;
}
.clue-bt-left-num {
    font-size: 60px;
    font-weight: 600;
}
.clue-bt-left-title {
    margin-top: 8px;
    margin-bottom: 8px;
    .mo-title-tips{
        margin-left:0;
        display: inline-block;
    }

}
.clue-bt-wrap {
    @extend .content-center;
}
.clue-bt-wrap-inner {
    flex: 1;
    text-align: center;
    border-right: 1px solid #EFEFEF;
    &:last-child {
        border-right: none;
    }
}
.clue-bt-wrap-num {
    font-size: 40px;
    font-weight: 600;
}
.clue-bt-wrap-title {
    margin-top: 8px;
    color: #999;
}

.clue-b8-outer {
    padding-bottom: 10px;
}
.clue-b8-li {
    border-bottom: 1px solid #E8E8E8;
    &:last-child {
        border-bottom: none;
    }
}
.clue-b8-li-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    .mo-bd1-li-lio {
        flex: 0 0 60px;
    }
    .mo-bd1-lio-icon {
        margin-right: 0;
    }
}

.clue-b8-li-title,
.clue-b8-li-total,
.clue-b8-li-num,
.clue-b8-li-rate {
    flex: 1;
    font-size: 28px;
}

.clue-b8-li-rate {
    color: #39BF50;
    &.clue-b8-li-up {
        color: #FF4940;
    }
}

.clue-b8-li-drop {
    padding-bottom: 20px;
}
.clue-b8-line {
    //width: 100%;
    height: 400px;
}

.clue-b1-tab {
    @extend .content-center;
    height: 64px;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    margin: 20px 0;
    overflow: hidden;
}
.clue-b1-item {
    @extend .content-center;
    flex: 1;
    height: 100%;
    //line-height: 66px;
    text-align: center;
    border-right: 1px solid #E5E5E5; /* no */
    &:last-child {
        border-right: none;
    }
    &.clue-b1-item-active {
        background-color: #F7F7F7;
        color: #FF8E44;
    }
}


























