.flow-ym {
    .fin-b6-more {
        margin-top: 40px;
    }

    .fin-dialog {
        padding-top: 20px;
    }

    .fin-dialog-top {
        margin-bottom: 20px;
    }
}

.flow-mp {
    .flow-ym-b1-right {
        background-color: #fff;
    }
}

.flow-ym-wrap {
    @extend .clue-body-bg;
    background-color: #fff;
    padding: 30px;
    &.flow-ym-b2 {
        padding-bottom: 10px;
    }
}

.flow-ym-b1 {
    margin-top: 30px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flow-ym-b1-left,
.flow-ym-b1-right {
    display: flex;
    align-items: center;
}

.flow-ym-bll {
    width: 40px;
    height: 50px;
    margin-right: 8px;
    background: url(./../img/icon/icon-calendar.png) no-repeat center;
    background-size: 80%;
}

.flow-ym-blr {
    font-size: 24px;
    color: #333;
}

.flow-ym-b1-right {
    background-color: #F4F4F4;
    border-radius: 36px;
    //overflow: hidden;
}

.flow-ym-br {
    height: 50px;
    line-height: 53px;
    padding: 0 14px;
    font-size: 24px;
    color: #666;
    border-radius: 36px;
    background-color: #F4F4F4;

    &.flow-ym-br-active {
        color: #333;
        font-weight: 600;
        background-color: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.05), 0 0 8px 0 rgba(0, 0, 0, 0.08);
    }
}

.flow-ym-br-text {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #999;
}

.flow-ym-wrap-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.flow-ym-wrap-title {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    color: #333;
}

.flow-tw-head-desc {
    color: #999;
    font-size: 24px;
}

.flow-ym-wrap-tips {
    height: 32px;
    margin-left: 6px;
}

.flow-ym-wrap-date {
    font-size: 26px;
    color: #999;
}

.flow-card-top {
    display: inline-flex;
    align-items: center;
    height: 50px;
    padding: 30px 0;
    background-image: linear-gradient(to right, #fff, #F4F4F4);
    border-radius: 30px;
}

.flow-card-top-li {
    color: #666;
    font-size: 24px;
    margin-right: 20px;
    &:first-child {
        margin-left: 10px;
    }
}

.flow-mp-head-date {
    display: flex;
    align-items: center;
}

.flow-mp-hd-icon {
    display: block;
    width: 24px;
}

.flow-mp-hd-text {
    font-size: 28px;
    color: #333;
    margin-left: 8px;
}

.flow-mp-head-tab {
    display: flex;
    overflow: hidden;
    border-radius: 36px;
    border: 1px solid #2877FF; /* no */
}

.flow-mp-hd-item {
    width: 80px;
    height: 42px;
    line-height: 44px;
    font-size: 22px;
    color: #2877FF;
    text-align: center;
    &.flow-mp-hd-active {
        color: #fff;
        background-color: #2877FF;
    }
}

.flow-ym-b2-card {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flow-ym-card-data {
    display: flex;
    align-items: flex-end;
    font-size: 38px;
    font-weight: 600;
    margin: 20px 0 12px;
}

.flow-ym-card-unit {
    font-size: 24px;
    margin-left: 3px;
}

.flow-ym-b2-li {
    display: flex;
    position: relative;
    width: 310px;
    height: 160px;
    margin-bottom: 20px;
    padding: 20px 8px 20px 15px;
    border-radius: 8px;
    overflow: hidden;
    background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(244,244,244,1));

    .flow-ym-card-ratio {
        font-size: 20px;
    }

    &.flow-ym-card-up {
        background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(225, 248, 242,1));

        .flow-ym-card-data {
            color: #23AB61;
        }
        .flow-ym-card-ratio {
            color: #23AB61;
        }

        .flow-ym-card-bg {
            background: none;
            //background: url(./../img/flow/bg-card-green.png) no-repeat center;
            //background-size: 100%;
        }
    }

    &.flow-ym-card-down {
        background-image: linear-gradient(0deg, rgba(255,255,255,1), rgba(255, 239, 239,1));
        .flow-ym-card-data {
            color: #FE4B4A;
        }
        .flow-ym-card-ratio {
            color: #FE4B4A;
        }

        .flow-ym-card-bg {
            background: none;
            //background: url(./../img/flow/bg-card-red.png) no-repeat center;
            //background-size: 100%;
        }

    }

}

.flow-ym-card-left {
    flex: 1;
}

.flow-ym-card-right {
    flex: 0 0 110px;
    height: 100%;
    &.flow-ym-card-empty {
        background: url(./../img/flow/bg-card-empty.png) no-repeat center;
        background-size: 70%;
    }
}

.flow-ym-card-title {
    font-size: 24px;
    color: #666;
}


.flow-ym-card-none {
    font-size: 30px;
    color: #999;
    margin-top: 20px;
}

.flow-ym-card-bg {
    width: 84px;
    height: 96px;
    background: url(./../img/flow/bg-card-grey.png) no-repeat center;
    background-size: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}



.flow-ym-wrap-tabs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.flow-ym-tabs-li {
    height: 46px;
    line-height: 48px;
    font-size: 26px;
    color: #666;
    padding: 0 20px;
    border-radius: 24px;

    &.flow-ym-tabs-active {
        background-color: rgba(40,119,255,.1);
        color: #2877FF;
    }
}

.flow-ym-chart {
    height: 350px;
    &.flow-mp-chart-pie {
        height: 400px;
    }
    &.flow-mp-chart-pie2 {
        height: 550px;
    }
}

.flow-ym-chart2 {
    height: 450px;
}

.flow-ym-chart-foot {
    display: flex;
    justify-content: space-between;
}

.flow-ym-chart-date {
    margin-top: 16px;
    font-size: 20px;
    color: #999;
}


.flow-ym-b6-list {
    display: flex;
    margin-top: 36px;
}

.flow-ym-b6l-th {
    color: #999;
    font-size: 24px;
    &.flow-ym-b6lh-active {
        color: #5086FF;
    }
}

.flow-ym-b6l-item {
    flex: 1;
    display: flex;
    align-items: center;

    &:nth-child(1) {
        flex: 0 0 90px;
    }
    &:nth-child(2) {
        flex: 0 0 140px;
    }
    &:nth-child(3),
    &:nth-child(4) {
        justify-content: flex-end;
    }
}

.flow-ym-b6l-td {

}

.fin-bl-li-rank {
    margin-left: 5px;
}

.flow-ym-b6-body {
    .flow-ym-b6l-td {
        color: #333;

        &:nth-child(2) {
            display: block;
            line-height: 1.5;
            color: #5086FF;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.flow-mp-msg {
    margin-bottom: 30px;
}

.flow-td-name {
    color: #2877FF;
}

.flow-total {

}

.flow-total-card {
    overflow: hidden;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 30px;
}

.flow-tc-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 102px;
    padding: 0 30px;
    color: #fff;
    background-image: linear-gradient(180deg, #4285F7 2%, #2877FF 100%);
}

.flow-tc-hl {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
}

.flow-tc-hr {
    font-size: 26px;
}

.flow-tc-body {
    background-color: #fff;
}

.flow-tc-tab {
    @extend .content-center;
}

.flow-tc-wrap {
    padding: 30px;
}

.flow-tc-li {
    height: 70px * 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 9;
    box-shadow: 4px 3px 12px -10px rgba(0,0,0,0.4);
    //box-shadow: 4px 0 12px -4px rgba(0,0,0,0.2);
    background-color: #F5F8FF;
    transition: all 0.2s;
    //transform-origin: center bottom;
    &.flow-tc-li-active {
        background-color: #fff;
        transform: scale(1.1);
        z-index: 22;
        border-radius: 16px;
        box-shadow: 4px 0 12px -10px rgba(0,0,0,0.3),-4px 0 12px -10px rgba(0,0,0,0.3);
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        &:after {
            content: '';
            display: block;
            width: 32px;
            height: 32px;
            background: url(../img/components/tab-radius-right.png) no-repeat center;
            background-size: 100%;
            position: absolute;
            right: -32px;
            bottom: -10px;
            z-index: 55;
        }
        &:before {
            content: '';
            display: block;
            width: 32px;
            height: 32px;
            background: url(../img/components/tab-radius-left.png) no-repeat center;
            background-size: 100%;
            position: absolute;
            left: -32px;
            bottom: -10px;
            z-index: 55;
        }
    }
    &:first-child {
        //transform-origin: left bottom;
        &.flow-tc-li-active {
            //border-bottom-right-radius: 0;
            //&:after {
            //    display: none;
            //}
        }
    }
    &:last-child {
        //transform-origin: right bottom;
        &.flow-tc-li-active {
            //border-bottom-left-radius: 0;
            //&:after {
            //    display: none;
            //}
        }
    }
}


.flow-tc-li-name {
    font-size: 28px;
    color: #333;
    padding-top: 20px;
}

.flow-tc-li-middle {
    height: 40px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 36px;
    color: #333;
    font-weight: 600;
}

.flow-tc-li-unit {
    font-size: 24px;
    color: #333;
}

.flow-tc-li-ratio {
    @extend .content-center;
    font-size: 20px;
    color: #999;
    div {
        font-size: 20px;
    }
}

.flow-tc-li-ru {
    color: #23AB61;
}

.flow-tc-li-rd {
    color: #FF3A2F;
}

.flow-ym-tips {
    display: inline-block;
    margin-bottom: 30px;
    position: relative;
    padding: 8px 12px 6px;
    color: #FE4B4A;
    background-color: #FEECEC;
    border: 1px solid #FE4B4A; /* no */
    border-radius: 6px;
    font-size: 24px;
    &.flow-ym-tips-normal {
        background-color: #E9F6EF;
        color: #23AB61;
        border: 1px solid #23AB61; /* no */
        &:after {
            background: url(./../img/flow/flow-icon-tips-02.png) no-repeat center;
            background-size: 100%;
        }
    }

    &:after {
        content: '';
        width: 20px;
        height: 12px;
        background: url(./../img/flow/flow-icon-tips-01.png) no-repeat center;
        background-size: 100%;
        position: absolute;
        left: 90px;
        top: -12px;
        z-index: 22;
    }
}


/* 月报 */
.flow-mon-wrap {
    @extend .content-center;
    //justify-content: flex-start;
}
.flow-mon-wrap-two {
    .flow-mon-wrap-data {
        margin-left: 60px;
    }
}

.flow-mon-wrap-data {
    width: calc(100% / 3);
    //flex: 1;
}

.flow-mon-data-name {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #888;
}

.flow-mon-data-dot {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #333;
    margin-right: 8px;
}

.flow-mon-data-num {
    display: flex;
    align-items: flex-end;
    font-size: 42px;
    font-weight: 600;
    color: #333;
    margin: 20px 0;
}

.flow-mon-data-unit {
    font-size: 24px;
    margin-left: 4px;
}

.flow-mon-data-rate {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #666;
}

.flow-mon-data-ratio {
    margin-left: 5px;
}

.flow-mon-chart {
    width: 100%;
    height: 400px;
}

.flow-mon-chart-wrap {
    padding-bottom: 20px;
}


