.msg-index-head {
    @extend .content-center;
    padding: 40px 0;
}

.msg-index-head-li {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.msg-ih-li-inner {
    position: relative;
}

.msg-ih-li-img {
    display: block;
    width: 84px;
}

.msg-ih-li-count {
    width: 36px;
    height: 36px;
    line-height: 37px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #fff; /* no */
    border-radius: 50%;
    background-color: #FF3A3A;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}

.msg-ih-li-text {
    color: #262D39;
    font-size: 28px;
    margin-top: 16px;
}

.msg-ib-li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

.msg-ib-li-left {
    @extend .content-center;
    flex: 0 0 150px;
}

.msg-ib-li-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 100%;
    overflow: hidden;
    padding-right: 40px;
    border-bottom: 1px solid #F4F4F4; /* no */
}

.msg-ib-ll-img {
    display: block;
    width: 72px;
}

.msg-ib-lr-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg-ib-lr-title {
    font-size: 30px;
    color: #131825;
}

.msg-ib-lr-time {
    font-size: 24px;
    color: #999;
}

.msg-ib-lr-bottom {
    height: 32px;
    line-height: 34px;
    font-size: 26px;
    color: #666;
    margin-top: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 60px;
    position: relative;
}

.msg-ib-lr-num {
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    background-color: #FF3A3A;
    font-size: 20px;
    color: #fff;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

/* msg detail */
.msg-detail {
    padding: 20px + $navHeight 30px 40px;
}

.msg-detail-title {
    font-size: 36px;
    font-weight: bold;
    color: #222;
}

.msg-detail-intro {
    display: flex;
    align-items: center;
    margin: 32px 0;
}
.msg-detail-intro-author,
.msg-detail-intro-time {
    color: #999;
    font-size: 24px;
}

.msg-detail-intro-time {
    margin-left: 24px;
}

.msg-detail-content {
    color: #666;
    font-size: 30px;
    line-height: 1.8;
    letter-spacing: 0.3px; /* no */
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Avenir', 'PingFangSC-Regular', Helvetica, Arial, sans-serif;
}


/* msg list */
.msg-list {
    min-height: 100%;
    overflow: hidden;
    background-color: #FAFAFA;
    .msg-head-li {
        margin-right: 0;
    }
}

.msg-list-head {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    border-bottom: 1px solid #E8E8E8; /* no */
    .flow-head-li.flow-head-li-active {
        &:after {
            //width: 10%;
            //left: 45%;
        }
    }
}

.msg-list-body {
    padding: 20px 30px 0;
    &.msg-no-head {
        padding-top: 30px;
    }
}
.navbar-top{
    padding-top: 108px;
}

.msg-list-released-li {

}

.msg-list-reli-time {
    font-size: 24px;
    color: #999;
    text-align: center;
}

.msg-list-reli-inner {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 30px 30px 30px;
    margin: 20px 0 40px;
    background-color: #fff;
}

.msg-list-reli-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #131825;
    font-size: 32px;
}

.msg-list-reli-unread {
    width: 8px; /* no */
    height: 8px; /* no */
    border-radius: 4px; /* no */
    background-color: #FF3A3A;
}

.msg-list-reli-content {
    font-size: 26px;
    color: #999;
    line-height: 1.8;
    margin: 16px 0 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.msg-list-reli-more {
    padding: 20px 0 0;
    border-top: 1px solid #F4F4F4;
    font-size: 26px;
    color: #999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.msg-list-reli-icon {
    height: 22px;
}

.msg-list-release-btn {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background: url(./../../assets/img/msg/msg-icon-06.png) no-repeat center;
    background-size: 100%;
    position: fixed;
    bottom: 50px;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
}

.msg-list-unreleased {
    padding-bottom: 20px;
}

.msg-list-unreleased-li {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    margin-bottom: 20px;
    overflow: hidden;
}

.msg-list-unreleased-inner {
    height: 140px;
    background-color: #fff;
    padding: 30px;
}

.msg-list-unreli-title {
    font-size: 32px;
    color: #131825;
    margin-bottom: 20px;
}

.msg-list-unreli-intro {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #999;
}

.msg-list-unreli-time {
    margin-left: 24px;
}

.msg-list-unreli-del {
    @extend .content-center;
    width: 120px;
    height: 100%;
    background-color: #FF3A3A;
    color: #fff;
    border-radius: 0 16px 16px 0;
}

/* msg release */
.msg-release-head {
    padding: 20px 30px;
}

.msg-rh-text {
    font-size: 24px;
    color: #000;
}

.msg-rh-tpl {
    display: flex;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    //height: 120px;
    //overflow-x: scroll;
    //overflow-y: hidden;
    //position: relative;
    //-webkit-overflow-scrolling: touch;
    //&::-webkit-scrollbar {
    //    display: none;
    //}
}

.msg-rh-tpl-outer {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-flex;
    white-space: nowrap;
    padding: 0 20px;
}

.msg-rh-tpl-li {
    @extend .content-center;
    width: 200px;
    height: 120px;
    background-color: #F8F8F8;
    border-radius: 12px;
    font-size: 28px;
    color: #333;
    position: relative;
    margin-right: 15px;

    &:last-child {
        margin-right: 0;
    }

    &.msg-rh-tpl-active {
        background-color: #3293FF;
        color: #fff;

        .msg-rh-tpl-selected {
            display: block;
        }
    }
}

.msg-rh-tpl-selected {
    display: none;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 6px;
    bottom: 6px;
}

.msg-release-body {
    padding: 0 30px 250px;
}

.msg-rb-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 101px;
    border-bottom: 1px solid #F4F4F4; /* no */
}

.msg-rb-name {
    font-size: 30px;
    color: #666;

    &:before {
        content: '*';
        color: #FF3A3A;
        font-size: 24px;
        margin-right: 8px;
    }
}

.msg-rb-value {
    flex: 1;
    font-size: 30px;
    color: #ccc;
    text-align: right;
}

.msg-rb-value-select {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    &:after {
        content: '';
        display: block;
        width: 30px;
        height: 100%;
        background: url(./../../assets/img/icon/icon-nav-select.png) no-repeat center;
        background-size: 50%;
        margin-left: 10px;
    }
}

.msg-rb-input {
    font-size: 30px;
    color: #333;

    &::-webkit-input-placeholder {
        color: #ccc;
    }
}

.msg-rb-list-longtext {
    height: 320px;
    border-bottom: 1px solid #F4F4F4; /* no */
    .msg-rb-name {
        padding: 30px 0 20px;
    }

    .msg-rb-value {
        display: block;
        width: 100%;
        border: none;
        line-height: 1.5;
        color: #333;
        font-size: 30px;
        text-align: left;
        padding-left: 20px;

        &::-webkit-input-placeholder {
            color: #ccc;
        }
    }
}


.msg-release-foot {
    @extend .content-center;
    width: 100%;
    padding: 14px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
    border-top: 1px solid #ddd; /* no */
}

.msg-release-foot-btn {
    width: 240px;
    height: 72px;
    line-height: 73px;
    text-align: center;
    border-radius: 36px;
    font-size: 32px;
}

.msg-release-foot-save {
    border: 1px solid #E8E8E8; /* no */
    color: #666;
    margin-left: 30px;
}

.msg-release-foot-send {
    background-color: #3293FF;
    color: #fff;
}

.popup-wrap {
    padding: 30px 30px;
}


/* notice bar */
.notice-bar {
    width: 100%;
    height: 72px;
    padding: 0 20px;
    background-color: #55A5FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.notice-bar-left {
    flex: 1;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 28px;
}

.notice-bar-icon {
    display: block;
    width: 24px;
    margin-right: 16px;
}

.notice-bar-right {
    flex: 0 0 50px;
    height: 100%;
    background: url(./../../assets/img/home/home-icon-close-02.png) no-repeat center;
    background-size: 45%;
}































